snippet met
	${1}(${2}) {
		${3}
	}

snippet amet
	async ${1}(${2}) {
	  ${3}
	}

snippet cla
	class ${1} {
	  ${2}
	}

snippet mod
	module.exports = ${1};

snippet con
	constructor(${1}) {
	  ${2}
	}

snippet np
	new Promise((resolve, reject) => {
	  ${1}
	});

snippet pres
	Promise.resolve(${1});

snippet prej
	Promise.reject(${1});

snippet str
	JSON.stringify(${1})

snippet par
	JSON.parse(${1});

snippet fun
	function ${1}(${2}) {
	  ${3}
	}

